body{
  font-family: Roboto, sans-serif;
  height: 100vh;
  /* background: linear-gradient(to top, rgb(0, 170, 255), rgb(205, 151, 97)); */
  background-color: rgb(221, 215, 186);
}
.add-button, .delete-list-btn{
  width: 70px;
}
.delete-list-btn{
  background-color: rgb(158, 14, 4);
}
.edit-list-btn{
  font-size: 16px;
  left: 300px;
  background: none;
}
.input-todo, .todo-list{
  width: 350px;
}
.date{
  margin-left: 205px;
}

@media (max-width: 500px){
  .input-todo, 
  .todo-list{
    width: 250px;
  }
  .edit-list-btn{
    left: 200px;
  }
  .date{
    margin-left: 105px;
  }
}

@media (max-width: 290px){
  .edit-list-btn{
    bottom: 75px;
  }
}

@media (max-width: 350px) {
  .add-button, .delete-list-btn{
    margin-top: 10px;
  }
  .date{
    margin-left: 5px;
  }
}